{% extends 'base.html' %}
{% block title %} {{super()}} - login {% endblock %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-80 " >
  <div class="col-md-4 mt-3">
    <h2 style="margin-top: 4rem;">Login</h2>

    <form action="" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        <label>Username</label>
        {{ form.username(class="form-control", placeholder="Username") }}
        {% if form.errors.username %}
          <div class="alert alert-danger" role="alert">
            <ul>
              {% for e in form.errors.username %}
                <li>{{ e }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label>Password</label>
        {{ form.password(class="form-control", placeholder="Password") }}
        {% if form.errors.password %}
          <div class="alert alert-danger" role="alert">
            <ul>
              {% for e in form.errors.password %}
                <li>{{ e }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="checkbox">
        <label>
          {{ form.remember_me }} Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
      <button class="btn btn-link"><a href="{{ url_for('register')}}">register</a></button>
    </form>
  </div>
</div>

{% endblock %}
